* {
    font-size: 0.625rem;
}

@font-face {
    font-family: "Helvetica";
    src: url(./fonts/Helvetica-Condensed.otf) format("truetype");
}

body {

    background-color: rgba(181, 28, 19, 0.6);
    background-image: url('./background.svg');


}

header {
    background-color: rgba(54, 54, 54, 0.8);
    border: 2px solid #000;
    color: #fff;

}

h2,
.album-title {
    font-size: 4rem;
    font-family: Helvetica;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
}

.year {
    font-size: 2.5rem;
    font-family: Helvetica;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
}

.info {
    font-family: Helvetica;
    /* font-size: 1.1rem; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -40px;
    padding-bottom: 20px;
    list-style: none;

}

li,
.strong {
    font-size: 1.4rem;
}

.pad {
    margin-left: 20px;
}

.strong {
    font-weight: 600;
}

.container {
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: 1fr 2fr 2fr;
    margin-top: 10px;
}

.cover-img {
    width: 30rem;
    display: block;
    margin: 10px auto;
}

.album-desc {
    font-size: 1.7rem;
    font-family: "Helvetica";
    font-weight: 100;
    text-align: justify;
    padding: 10px 20px;
    margin-right: 10px;
    margin-left: 10px;
    /* width: 300px; */
    color: #fff;
    background-color: rgba(181, 28, 19, 0.6);



}

.info-box {
    background-color: rgba(181, 28, 19, 0.6);
    border: 2px solid #000;
}

.track-list {
    display: grid;
    border: 2px solid #000;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-self: start;
}

.table-head {
    border-bottom: 2px solid #000;
    color: #ddd;
    font-weight: 600;

}

.tracks,
.length,
.table-head {
    background-color: rgba(181, 28, 19, 0.6);
    /* border-radius: 5px; */
    padding: 12px;
    font-size: 1.5rem;
    font-family: "Helvetica";
    height: 20px;



}

.tracks,
.length {
    font-weight: 500;
    color: #fff;
}

.track-length {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: end;
}


.tracks:nth-child(even) {
    background-color: rgba(63, 150, 170, 0.6);
    color: #fff;
}

.length:nth-child(even) {
    background-color: rgba(63, 150, 170, 0.6);
    color: #fff;
}

nav {
    border: 2px solid #000;
    align-self: start;

}

.nav-head {
    background-color: rgba(181, 28, 19, 0.6);
    padding: 12px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Helvetica";
    height: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #000;


}

.nav-link {
    background-color: rgba(63, 150, 170, 0.6);
}

.album-link {
    /* background-color: rgba(181, 28, 19, 0.6); */
    font-family: "Helvetica";
    font-size: 1.5rem;
    padding-left: 0px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tiny-covers {
    width: 80%;
}

.home-button {
    padding-top: 10px;
    border-top: 2px solid #000;
    background-color: rgba(181, 28, 19, 0.6);
    text-decoration: none;
}

.home-button {
    /* background-color: rgba(181, 28, 19, 0.6); */
    font-family: "Helvetica";
    font-size: 1.5rem;
    padding-left: 0px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:link {
    text-decoration: none;
    color: #fff;

}

a:visited {
    color: #FFD2BDFF;
    text-decoration: none;

}

a .album-link:hover {
    color: #FFA7A7FF;
}